
﻿# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.foggy.iml
/modules.xml
# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.foggy.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
